<div class="spreadsheet-wrapper" (dblclick)="onSpreadsheetDblClick($event)">
    @if (data().length > 0 && columnConfig().length > 0) {
    <long-spreadsheet [data]="data" [columnConfig]="columnConfig" [theme]="theme()" [height]="'100%'"
        [showLoading]="isLoading()" (onDataChange)="onDataChanged($event)" (onColumnChange)="onColumnChanged($event)">
    </long-spreadsheet>
    } @else {
    <div class="loading-container">
        <p-progressbar mode="indeterminate" [style]="{'height': '6px'}"></p-progressbar>
        <p>{{ 'spreadsheet.loading' | translate }}</p>
    </div>
    }
</div>

<app-struct-editor-dialog
    [(visible)]="structEditorVisible"
    [value]="structEditorValue"
    [header]="structEditorHeader"
    (valueSaved)="onStructValueSaved($event)">
</app-struct-editor-dialog>